# It maps ^L in insert mode to ESC (exit insert mode), ^L (clear screen) and a (append). If you're used to vi, you'll know that exiting insert mode moves the cursor one character left, which is why I'm using "a" instead of "i". This will, of course, misplace your cursor by one if you press ^L at the beginning of the line.
# from http://ubuntuforums.org/archive/index.php/t-1074878.html
# Use Vi, not Emacs, style editing

set keymap vi-command
"k": history-search-backward
"j": history-search-forward

set keymap vi-insert
"\C-l": "\e\C-la"
"kj": vi-movement-mode
set editing-mode vi
